<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardar()">

  <div formGroupName="nombrecompleto">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [ngClass]="{'is-invalid': forma.get('nombrecompleto.nombre').invalid && forma.get('nombrecompleto.nombre').touched,
                          'is-valid': forma.get('nombrecompleto.nombre').valid && forma.get('nombrecompleto.nombre').touched}">

          <div class="invalid-feedback">
            <span *ngIf="forma.get('nombrecompleto.nombre').errors?.required">Este campo es requerido. </span>
            <span *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength">Este campo requiere al menos {{forma.get('nombrecompleto.nombre').errors.minlength.requiredLength}} caracteres.</span>
          </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [ngClass]="{'is-invalid': forma.get('nombrecompleto.apellido').invalid && forma.get('nombrecompleto.apellido').touched,
                          'is-valid': forma.get('nombrecompleto.apellido').valid && forma.get('nombrecompleto.apellido').touched}">

          <div class="invalid-feedback">
            <span *ngIf="forma.get('nombrecompleto.apellido').errors?.noaquino">El Apellido no puede ser Aquino. </span>
            <span *ngIf="forma.get('nombrecompleto.apellido').errors?.required">Este campo es requerido. </span>
            <span *ngIf="forma.get('nombrecompleto.apellido').errors?.minlength">Este campo requiere al menos {{forma.get('nombrecompleto.apellido').errors.minlength.requiredLength}} caracteres.</span>
          </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="email"
             [ngClass]="{'is-invalid': forma.controls['email'].invalid && forma.controls['email'].touched,
                          'is-valid': forma.controls['email'].valid  && forma.controls['email'].touched}">
      <div class="invalid-feedback">
        <span *ngIf="forma.controls['email'].errors?.required">Este campo es requerido. </span>
        <span *ngIf="forma.controls['email'].errors?.pattern">Ingrese un correo electronico valido.</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Username <span *ngIf="forma.controls['username'].pending">Verificando...</span></label>
    <div class="col-md-8">

      <input class="form-control"
             type="text"
             placeholder="Usuario"
             formControlName="username"
             [ngClass]="{'is-invalid': forma.controls['username'].invalid && forma.controls['username'].touched,
                          'is-valid': forma.controls['username'].valid  && forma.controls['username'].touched}">
      <div class="invalid-feedback">
        <span *ngIf="forma.controls['username'].errors?.required">Este campo es requerido. </span>
        <span *ngIf="forma.controls['username'].errors?.existe">El usuario ya existe. </span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="Password"
             formControlName="password1"
             [ngClass]="{'is-invalid': forma.controls['password1'].invalid && forma.controls['password1'].touched,
                          'is-valid': forma.controls['password1'].valid  && forma.controls['password1'].touched}">
      <div class="invalid-feedback">
        <span *ngIf="forma.controls['password1'].errors?.required">Este campo es requerido. </span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Repetir Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="Repetir Password"
             formControlName="password2"
             [ngClass]="{'is-invalid': forma.controls['password2'].invalid && forma.controls['password2'].touched,
                          'is-valid': forma.controls['password2'].valid  && forma.controls['password2'].touched}">
      <div class="invalid-feedback">
        <span *ngIf="forma.controls['password2'].errors?.required">Este campo es requerido. </span>
        <span *ngIf="forma.controls['password2'].errors?.noigual">Los Password no coinciden.</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Marca</label>
    <div class="col-md-8">
      <select class="custom-select"
              formControlName="marca"
              [ngClass]="{'is-invalid': forma.controls['marca'].invalid && forma.controls['marca'].touched,
                          'is-valid': forma.controls['marca'].valid  && forma.controls['marca'].touched}">
        <option value="">Seleccione una opcion</option>
        <option *ngFor="let auto of autos" [value]="auto.marca">{{auto.marca}}</option>
      </select>

      <div class="invalid-feedback">
        <span *ngIf="forma.controls['marca'].errors?.required">Este campo es requerido.</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Modelos</label>
    <div class="col-md-8">
      <select class="custom-select"
              formControlName="modelo"
              [ngClass]="{'is-invalid': forma.controls['modelo'].invalid && forma.controls['modelo'].touched,
                          'is-valid': forma.controls['modelo'].valid  && forma.controls['modelo'].touched}">
        <option value="">Seleccione una opcion</option>
        <option *ngFor="let mod of modelos" [value]="mod">{{mod}}</option>
      </select>

      <div class="invalid-feedback">
        <span *ngIf="forma.controls['modelo'].errors?.required">Este campo es requerido.</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-md-8">
      <div *ngFor="let s of sexo" class="custom-control custom-radio">
        <input name="sexo"
            [value]="s"
            type="radio" 
            [id]="s" 
            class="custom-control-input"
            formControlName="sexo"
            [ngClass]="{'is-invalid': forma.controls['sexo'].invalid && forma.controls['sexo'].touched,
                          'is-valid': forma.controls['sexo'].valid && forma.controls['sexo'].touched}">
        <label class="custom-control-label" for="{{s}}">{{s}}</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">
      <input *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index"
        [formControlName]="i"
        type="text" class="form-control mt-2"
        [ngClass]="{'is-invalid': forma.controls['pasatiempos'].invalid && forma.controls['pasatiempos'].touched,
                    'is-valid': forma.controls['pasatiempos'].valid  && forma.controls['pasatiempos'].touched}">
      <div class="invalid-feedback">
        <span *ngIf="forma.controls['pasatiempos'].invalid">Este campo es requerido. </span>
      </div>

      <button type="button" class="btn btn-sm btn-primary mt-3" (click)="agregarPasatiempo()">
        Nuevo
      </button>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  <pre>{{ forma.valid }}</pre>
  {{forma.controls['username'].pending}}

</form>
