<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(f)" #f="ngForm" class="needs-validation" novalidate>

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre" name="nombre" minlength="5" [(ngModel)]="usuario.nombre" required #nombre="ngModel" [ngClass]="{'is-invalid': nombre.invalid && nombre.touched,
                          'is-valid': nombre.valid && nombre.touched}">
                <div class="invalid-feedback">
                    <span *ngIf="nombre.errors?.required">Este campo es requerido. </span>
                    <span *ngIf="nombre.errors?.minlength">Este campo requiere al menos {{nombre.errors.minlength.requiredLength}} caracteres.</span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" name="apellido" minlength="5" [(ngModel)]="usuario.apellido" required #apellido="ngModel" [ngClass]="{'is-invalid': apellido.invalid && apellido.touched,
                          'is-valid': apellido.valid && apellido.touched}">
                <div class="invalid-feedback">
                    <span *ngIf="apellido.errors?.required">Este campo es requerido. </span>
                    <span *ngIf="apellido.errors?.minlength">Este campo requiere al menos {{apellido.errors.minlength.requiredLength}} caracteres.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="usuario.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" email #email="ngModel" [ngClass]="{'is-invalid': email.invalid && email.touched,
                          'is-valid': email.valid  && email.touched}">
            <div class="invalid-feedback">
                <span *ngIf="email.errors?.required">Este campo es requerido. </span>
                <span *ngIf="email.errors?.pattern">Ingrese un correo electronico valido.</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-md-8">
            <select name="pais" [(ngModel)]="usuario.pais" class="custom-select" required [disabled]="paises.length === 0" #pais="ngModel" [ngClass]="{'is-invalid': pais.invalid && pais.touched,
                          'is-valid': pais.valid  && pais.touched}">
        <option value="">Seleccione una opcion</option>
        <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
      </select>
            <div class="invalid-feedback">
                <span *ngIf="pais.errors?.required">Este campo es requerido.</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Sexo</label>
        <div class="col-md-8">
            <div *ngFor="let s of sexos" class="custom-control custom-radio">
                <input name="sexo" [(ngModel)]="usuario.sexo" [value]="s" type="radio" [id]="s" class="custom-control-input" required #sexo="ngModel" [ngClass]="{'is-invalid': sexo.invalid && sexo.touched,
                          'is-valid': sexo.valid  && sexo.touched}">
                <label class="custom-control-label" for="{{s}}">{{s}}</label>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Terminos y condiciones</label>
        <div class="col-md-8">
            <div class="custom-control custom-checkbox">
                <input name="acepta" [(ngModel)]="usuario.acepta" required #acepta="ngModel" [ngClass]="{'is-invalid': acepta.invalid && acepta.touched,
                        'is-valid': acepta.valid  && acepta.touched}" type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Acepto</label>
            </div>
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="f.invalid">
        Guardar
      </button>
        </div>
    </div>

</form>